<div class="reply-item">
  <img class="reply-item-img" preview="4rem" [src]="item.author.avatar_url" alt="">
  <div class="reply-item-content">
    <h5>{{item.author.loginname}}</h5>
    <p [innerHtml]="item.content"></p>
  </div>
  <div class="reply-item-footer">
    <p class="create-at">{{item.create_at | fromNow}}</p>
    <div class="reply-item-op">
      <button #replyButton mdl-button
        mdl-ripple (click)="onReply(item.id)">回复</button>
      <button *ngIf="item.is_uped" mdl-button mdl-button-type="icon" (click)="onStar(item.id)" mdl-colored="primary">
        <mdl-icon>thumb_up</mdl-icon> 
      </button>
       <button *ngIf="!item.is_uped" mdl-button mdl-button-type="icon" (click)="onStar(item.id)" >
        <mdl-icon>thumb_up</mdl-icon> 
      </button>
      {{item.ups.length}}
    </div>
  </div>
</div>
