.reply-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5
}

.reply-item .reply-item-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
}
.reply-item .reply-item-content {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}
.reply-item-footer {
    color: #999
}

.reply-item .reply-item-op {
    max-width: 10rem;
    display: flex;
    align-items: center
}
.create-at {
    text-align: center
}