<div class="select-wrapper" [ngClass]="{active: activeClass}">
 
  <input readonly="true" type="text" class="select-dropdown" [(ngModel)]="selectName" [placeholder]="placeholder" (click)="toggleSelect()">
  <select class="material-select" [(ngModel)]="selectValue">
    <option *ngFor="let item of list" [value]="item.value">{{item.name}}</option>
  </select>
  <ul>
    <li *ngFor="let i of list" data-value="{{i.value}}" (click)="select(i.value, i.name)"><span>{{i.name}}</span></li>
  </ul>
</div>