@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i';
body {
  font-family: 'Roboto';
}

.select-wrapper {
  display: block;
  position: relative;
  width: 300px;
  box-sizing: border-box;
  margin-top: 15px
}

.select-wrapper ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 37px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  min-width: 300px;
  max-width: 800px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 999;
  
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.select-wrapper.active ul {
  opacity: 1;
  pointer-events: auto;
}

.select-wrapper ul li {
  clear: both;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
  transition: all 0.2s ease;
}

.select-wrapper ul li:hover {
  background-color: #eee;
}

.select-wrapper ul li>span {
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.select-wrapper input.select-dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  outline: none;
  height: 35px;
  line-height: 35px;
  width: 100%;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0;
}

.select-wrapper select {
  display: none;
}