.msg-item {
    display: flex;
    align-items: center;
}

.msg-item img {
    margin: 0 1rem;
}
.msg-item p {
    margin-bottom: 0px;
    color: #666;
}
.msg-item-body .msg-item-body-h span {
    margin-right: 1rem;
}
.msg-item-body {
    flex: 1;
    border-bottom: 1px solid #e5e5e5;
    padding: .5rem 0;
    max-width: calc(100% - 7rem);
    box-sizing: border-box;
}
.msg-item-body-h,
.msg-item-body-f {
    font-weight: bold;
    font-size: 14px
}
.msg-item-body-b {
    overflow: hidden;
}
