<div class="demo-container" mdl-shadow="8">
  <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed mdl-layout-mode="waterfall" (mdl-layout-tab-active-changed)="tabChanged($event)">
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Cnode 社区</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <!-- Navigation. We hide it in small screens. -->
        <button mdl-button="" mdl-button-type="icon" ng-reflect-mdl-button-type="icon" class="mdl-button mdl-button--icon">
         <mdl-icon class="material-icons">message</mdl-icon>
        </button>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title>
        <div *ngIf="userDetail">
          <div class="user-card">
            <div class="user-avatar">
              <img [src]="userDetail.avatar_url" alt="">
            </div>
            <div class="login-name">{{userDetail.loginname}}</div>
            <div class="user-score">积分：{{userDetail.score}}</div>
            <div class="create-time">注册于：{{userDetail.create_at | fromNow}}</div>
          </div>
        </div>
        <div *ngIf="!userDetail">
          <div>
            <div class="no-login">
              <a [routerLink]="['/login']">
                <mdl-icon>person</mdl-icon>
              </a>
              <p>点击头像登陆</p>
            </div>
          </div>
        </div>
      </mdl-layout-title>
      <nav *ngIf="userDetail" class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['/profile']">个人中心</a>
        <a class="mdl-navigation__link">我的消息</a>
        <a class="mdl-navigation__link" [routerLink]="['/login']">退出</a>
      </nav>

    </mdl-layout-drawer>
    <mdl-layout-content>
      <mdl-layout-tab-panel mdl-layout-tab-panel-title="全部">
        <div *ngIf="!loading">
          <app-topic *ngFor="let item of list" [topic]="item" (onClick)="gotoDetail($event, item.id)"></app-topic>
        </div>
      </mdl-layout-tab-panel>
      <mdl-layout-tab-panel mdl-layout-tab-panel-title="精华">
        <div *ngIf="!loading">
          <app-topic *ngFor="let item of list" [topic]="item" (onClick)="gotoDetail($event, item.id)"></app-topic>
        </div>
      </mdl-layout-tab-panel>
      <mdl-layout-tab-panel mdl-layout-tab-panel-title="分享">
        <div *ngIf="!loading">
          <app-topic *ngFor="let item of list" [topic]="item" (onClick)="gotoDetail($event, item.id)"></app-topic>
        </div>
      </mdl-layout-tab-panel>
      <mdl-layout-tab-panel mdl-layout-tab-panel-title="问答">
        <div *ngIf="!loading">
          <app-topic *ngFor="let item of list" [topic]="item" (onClick)="gotoDetail($event, item.id)"></app-topic>
        </div>
      </mdl-layout-tab-panel>
      <mdl-layout-tab-panel mdl-layout-tab-panel-title="招聘">
        <div *ngIf="!loading">
          <app-topic *ngFor="let item of list" [topic]="item" (onClick)="gotoDetail($event, item.id)"></app-topic>
        </div>
      </mdl-layout-tab-panel>
      <a [routerLink]="['/publish']" mdl-button class="create-topic" mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
        <mdl-icon>add</mdl-icon>
      </a>
      <div *ngIf="loading" class="loading">
        <mdl-spinner [active]="true"></mdl-spinner>
      </div>
    </mdl-layout-content>
  </mdl-layout>
</div>