.user-card {
    padding: 1rem 0
}
.user-card div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.content {
    padding: 0 1rem
}
.content .author-avatar {
    margin-right: .5rem;
}

mdl-list-item-text-body {
    display: flex;
    align-items: center;
    color: #999
}

.title,
.empty {
    text-align: center;
    font-size: 16px;
}
.empty {
    color: #999;
    padding-top: 1rem;
}
.title {
    margin: 1rem 0 0 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5
}
div[mdl-shadow="2"] {
    padding: .25rem 0;
    margin-bottom: 1rem;
}
