.user-card {
    padding: 1rem 0
}
.user-card div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.user-avatar img {
    border-radius: 50%;
    max-height: 6rem
}
.content {
    padding: 0 1rem
}
.content .author-avatar {
    margin-right: .5rem;
}

.content .author-avatar img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
mdl-list-item-text-body {
    display: flex;
    align-items: center;
    color: #999
}
mdl-list-item {
    border-bottom: 1px solid #e5e5e5
}
.title,
.empty {
    text-align: center;
    font-size: 16px;
}
.empty {
    color: #999
}
.title {
    margin: 1rem 0
}
div[mdl-shadow="2"] {
    padding: .25rem 0;
    margin-bottom: 1rem;
}
