<app-header title="个人中心"></app-header>
<div class="container">
  <div *ngIf="userDetails">
    <div class="user-card">
      <div class="user-avatar">
        <img [src]="userDetails.avatar_url" alt="">
      </div>
      <div class="login-name">{{userDetails.loginname}}</div>
      <div class="user-score">积分：{{userDetails.score}}</div>
      <div class="create-time">注册于：{{userDetails.create_at | fromNow}}</div>
    </div>

    <div class="content">
      <div mdl-shadow="2">
        <h6 class="title">最近创建的话题</h6>
        <mdl-list *ngIf="userDetails.recent_topics > 0">
          <mdl-list-item *ngFor="let topics of userDetails.recent_topics">
            <mdl-list-item-primary-content>
              <mdl-list-item-text-body>
                <a class="author-avatar">
                  <img [src]="topics.author.avatar_url" alt="">
                </a>
                {{topics.title}}
              </mdl-list-item-text-body>
            </mdl-list-item-primary-content>
          </mdl-list-item>
        </mdl-list>
        <p *ngIf="userDetails.recent_topics == 0" class="empty">暂无话题</p>
      </div>
      <div mdl-shadow="2">
        <h6 class="title">最近参与的话题</h6>
        <mdl-list *ngIf="userDetails.recent_replies.length > 0">
          <mdl-list-item *ngFor="let replies of userDetails.recent_replies">
            <mdl-list-item-primary-content>
              <mdl-list-item-text-body>
                <a class="author-avatar">
                  <img [src]="replies.author.avatar_url" alt="">
                </a>
                {{replies.title}}
              </mdl-list-item-text-body>
            </mdl-list-item-primary-content>
          </mdl-list-item>
        </mdl-list>
        <p *ngIf="userDetails.recent_replies == 0" class="empty">暂无话题</p>
      </div>
    </div>
  </div>
</div>