body {
    background: #e22
}
h1 {
    font-size: 2rem;
}
 .markdown-text pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-text img {
    max-width: 100%;
}